@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.fogo-corpo {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%;  
    max-width: 500px; 
}

.fogo-corpo h1 {
    font-size: 21px;
    margin-bottom: 20px;
    margin-left: 30px;
    width: 100%;
}

.fogo-caixa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    position: relative; 
    margin-top: 20px;
    margin-bottom: 30px;
}

.fogo-imagen {
    position: absolute;
    left: var(--porcentagem); 
    transform: translateX(-50%); 
    width: 70px;
    height: 75px;
    z-index: 10; 
    transition: left 0.5s ease-in-out;
    top: -38px;
    
}

.fogo-imagen img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.caixa-barra {
    height: 10px;
    width: 100%;
    background-color: #e0e0e0; 
    border-radius: 40px;
    overflow: hidden;
    position: relative;
}

.barra {
    height: 100%;
    border: none;
    border-radius: 40px;
    transition: width 0.5s ease-in-out; 
}

.dias {
    width: 100%;
    text-align: right;
    margin-top: 10px;
    padding-right: 5%;
}

.dias h3 {
    font-size: 18px;
    margin: 0; 
}
.dia-completo {
    color:#ff9500;
}
