.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4; /* Ajuste de fundo */
    min-height: 100vh; /* Garante que a página ocupe toda a altura da tela */
    margin: 0;
    padding: 0;
}
